.containerr {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 5%;
    height: 300px;
  }
  
  .h4 {
    font-size: 1.8rem;
    color: #343a40;
    margin-bottom: 30px;
  }
  
  .form-controll {
   
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    background-color: white;
    color: black;
  }
  
  .btnn {
    background-color: #fa6c3d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .btnn:hover {
    background-color: #0056b3;
  }
  
  
  .text22 {
    font-size: 0.95rem;
    margin-top: 5px;
  }
  .table {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .containerr {
      max-width: 80%;
      padding: 15px;
      margin-top: 10%;
    }
  
    .h4 {
      font-size: 1.5rem;
    }
  
    .btnn {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  
    .table {
      font-size: 0.85rem;
    }
  }
  
  /* Media queries pour les smartphones */
  @media (max-width: 480px) {
    .containerr {
      max-width: 90%;
      padding: 10px;
      margin-top: 15%;
    }
  
    .h4 {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
  
    .btnn {
      width: 100%; /* Boutons pleine largeur */
      padding: 10px;
      font-size: 0.85rem;
    }
  
    .table th,
    .table td {
      padding: 5px;
      font-size: 0.8rem;
    }
  
    .text22 {
      font-size: 0.85rem;
    }
  }