/* Centered and compact table */

  
  table {
    width: 60%; /* Réduit la largeur du tableau */
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour les coins arrondis */
  }
  
  table thead {
    background-color: #ff531b;
    color: white;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tbody tr:hover {
    background-color: #e6f7ff;
  }
  
  .h2hajar {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: rgb(44, 44, 44);
    margin-top: 10%;
    font-weight: bold;
  }
  