.hii {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  padding-top: 3%;
  background-color: #ecf2fc;
}

.hii .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff531b ;
  padding-right: 10%;
  padding-left: 3%;
}

.hii nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.theme-toggle img {
  cursor: pointer;
  width: 30px;
  margin-right: 35px;
  margin-left: 20px;
}

body.dark-mode {
  background-color: black;
  color: #ecf2fc;
}

body.dark-mode .hii {
  background-color: black;
}

body.dark-mode .lii a {
  color: #ecf2fc;
}
body.dark-mode h1{
color: #dde5f3;
}


.hii nav a:hover{
  color: #ff531b;
}


.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
}

.ull{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lii{
  height: 100%;
  padding: 0 10px;
  color: black;
  margin-top: 15px;
}

.sidebar{
  position: fixed;
  top: 0;
  right: -250px; /* Hide off-screen initially */
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.086);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  transition: right 0.3s ease; /* Smooth slide-in effect */
}
.sidebar.visible {
  right: 0;
  
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  list-style: none;
}

.sidebar ul li svg {
  cursor: pointer;
}

/* Top Navigation Menu */
.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-menu li {
  margin-left: 20px;
}
.sidebar ul, .sidebar li {
  list-style: none;
}






@media screen and (max-width: 768px) {
body.dark-mode .nav-links{
  flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: black;
    width: 40%;
    height: calc(100vh - 60px);
    z-index: 1000;
    color: #ecf2fc;
}
body.dark-mode .hamburger span {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 2px;
  margin-left: 100%;
  
}
.dark-mode .theme-toggle img {
cursor: pointer;
width: 30px;
margin-left: 100%;
margin-top: 3px;

}

.hamburger {
  display: block;
}

.nav-menu {
  display: none;
}

}  

